<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Agenda</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="container-user" id="login">
      <section class="section-initial">
        <i class="fa-regular fa-calendar"></i>
        <h2 class="section-initial_title">Sua Agenda</h2>
        <span class="section-initial_span">Faça login e comece a usar!</span>
      </section>
      <section class="section-login">
        <form class="form-login">
          <label class="form-login_label" for="email"
            ><i class="fa fa-envelope"></i><input
            class="form-login_input email_login"
              id="email"
              type="text"
              placeholder="Email"
          /></label>
          <label class="form-login_label" for="password"
            ><i class="fa fa-lock"></i>
            <input class="form-login_input password_login" id="password" type="password" placeholder="Senha"
          /></label>
        </form>
        
        <button  class="button-login" type="submit">Acessar</button>
       <a class="link-login" href="addUser.html">Não possui conta? Crie um agora!</a>
      </section>
    </section>
  </div>
  </body>
  <script type="text/javascript" src="bundle.js"></script>
</html>