$font-family: "Poppins", sans-serif;


// color //
$black: #000000;
$white: #ffffff;

$gray: #f5f5f5;
$gray1: #e2e1dc;
$gray2: #d3d5d6d7;
$gray3: #b3b3b3;
$gray4: #878895;
$gray5: #373c4f;

$primary: #b38add;